@media only screen and (max-width: 600px) {


html {
    -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;

}

* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

}


/*
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav .nav-items{
    list-style-type: none;
    margin: 0;
}

nav .nav-items .nav-link{
    padding: 1.3rem 1rem;
    font-size: 1.1rem;
}

nav .nav-items .nav-link:hover{
    background: var(--bg-color);
}

nav .nav-items .nav-link:hover a{
    color: white;
}


nav .nav-items{
    flex-direction: column;
}
nav{
    flex-direction: column !important;
    display: block !important;
}

nav .toggle-collapse{
    display: initial;
}
*/

nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}


nav .mainMenu {
    display: flex;
    list-style: none;
        }

nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;

}
nav .mainMenu li a:hover{
    background: rgb(113, 153, 165)
}    
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;

}

nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
}
nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
nav .openMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
nav .mainMenu li a:hover {
    background: none;
    color: rgb(113, 153, 165);
    font-size: 1.6rem;
}
.icons i{
    display: inline-block;
    padding: 12px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: white;
    padding: 1.5rem;
}
body  {
    background-image: url("/images/pexels-suzy-hazelwood-1232131.jpg");
    background-color:#000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: white;
    padding: 1.5rem;
    text-align: center;

}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding: 1.5rem;
    text-align: center;

}

} /*end media query